

body{
    background-image: url(../imagens/perfil/quadradoazul.png) ;
    background-repeat: ;
    background-size: 11px;
    font-family: Nunito, sans-serif;
    color: #000000;
    

}

h1,h2,h3{
    font-family: Asap, sans-serif;
    color: #000000;
};



.botao{
    color:#ffffff;
    text-decoration: none;
    padding:10px 30px;
    backgroundo-color: #191970;
    font-size: .9em;
    border: radius 3px;
    
}

.perfil li{
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
    width: 20%;
    vertical-align: top;
    margin: 1.5%  1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;

	
}

.perfil li:hover{
	border-color: #604fc0;

}

.perfil li:active{
	border-color: #088c19;
}
.perfil li:hover h2 {
		font-size: 20px;
}
.perfil h2{
	font-size: 0px;	
	font-weight: bold;
	
}



.perfil-descricao{
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 0;
	

}





/* -Navegação- */

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
    
   
   
}

logo{
    display: flex;
    align-items: left;
}




nav > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 50px;;
    font-family: yellowtail, serif;
}



nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0%;
    width: 100%;
    font-size: 32px;
    
}

nav ul li{
    text-align: center;
    width: 100%;
    
}



nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    
}







/*-Cabeçalho- */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/dark.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;

}

header h1{
    color: #ffffff;
    font-size: 100px;
;

}

header p{
    margin-bottom: 4em;
    font-size: 30px;

}

#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10 px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}

#sobre h2{
    color:#ffffff;
}

#sobre p {
    margin-bottom: 2.5em;
    max-with: 1000px;
}

#sobre .botao{
    background-color: #f1f1f1;
    color: #1c1c1c;
}

/*-Noticias- */

#home {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 30px;
}

#home div{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    margin-top: 30px;


}
/*
#mais{
    style.display: none;
}
*/



/*-Saiba Mais-*/

#saibamais{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/dark.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

#saibamais h1{
    color: #ffffff;
    font-size: 100px;

}

#saibamais p{
    margin-bottom: 4em;
    font-size: 50px;
}


/* CSS flexbox */
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
}
.flex > div {
    flex: 1 1 200px;
    margin: 20px;
} 

.link{
    color: blue;
}

noticiasDestaques {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 30px;
}

noticiasDestaques div{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    margin-top: 30px;


}



/*-contato-*/

#contato {
display: flex;
flex-direction: column;
align-items:center;
text-align-items: center;
padding: 20px;
}

#contato h2{
    color: #000000;
}

.row{
    padding:0 20px;
    display: table;
    width: 100%;
}





/*-rodapé-*/

footer{
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffffff;
}

footer a{
    text-decoration: none;
    color: #00ffff;

}






/*-----Responsiva------*/

@media screen and (min-width: 768px) {

    /*----nav--- */
    nav ul{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%
    }

    /*-----cabeçalho----*/

    header{
        height: 600px;
        height: 60vh;
        justify-content: center;

    }

    /*----sobre-----*/

    #sobre{
        height: 250px;
        height: 30 vh;
        justify-content: center;
        min-height: 250px;

    }

    /*-----Home-----*/
    #home{
        flex-direction: row;
        flex-wrap: wrap;
        aligh-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #home h2{
        text-align: center;
        width: 100%;
    }

    #home div{
        flex-grow: 1;
        flex: basis: 150 px;
        padding 0 10 px;

    }

   
   
   
   
    /*-----Saiba Mais -----*/

    #saibamais{
        flex-direction: row;
        flex-wrap: wrap;

    }

    #saibamais h2 {
        width: 100%
        text-align: center;
    }

    #saibamais img{
        widht: 33.3333333%;
    }






    /*------contato------*/

    #contato{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;

    }

    #contato h2, #contato p{
        width: 100%;

    }


    #saibamais{
        wdth: 100%;
    }
    /*#mais{
        display.none;
    }
*/


}